body {
    box-sizing: border-box;
}
.one {
    width:20px;
    height:20px;
}
.two {
  width:20px;
    height:20px;
}
.three {
  width:20px;
    height:20px;
}
.four {
  width:20px;
    height:20px;
}
  
