body {
    box-sizing: border-box;
}
.one{
    width: 40px;
    height: 40px;
}
.two{
  width: 40px;
    height: 40px;
}
.three{
  width: 40px;
    height: 40px;
}
.four{
  width: 40px;
    height: 40px;
}
  
