body {
    box-sizing: border-box;
}
.one{
    width: 80px;
    height: 80px;
}
.two{
  width: 80px;
    height: 80px;
}
.three{
  width: 80px;
    height: 80px;
}
.four{
  width: 80px;
    height: 80px;
}
  
